body {
  --twitter-color: #eff3f4;
  --twitter-background: white;
  --twitter-font-weight:Bold;
}
.twitter{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}